.white-space {
    white-space: pre
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top20 {
    margin-top: 20px;
}

.top25 {
    margin-top: 25px;
}

.top30 {
    margin-top: 30px;
}

.top40 {
    margin-top: 40px;
}

.top55 {
    margin-top: 55px;
}

.left5 {
    margin-left: 5px;
}

.left7 {
    margin-left: 7px;
}

.left10 {
    margin-left: 10px;
}

.left15 {
    margin-left: 15px;
}

.left17 {
    margin-left: 17px;
}

.left20 {
    margin-left: 20px;
}

.left25 {
    margin-left: 25px;
}

.left30 {
    margin-left: 30px;
}

.left35 {
    margin-left: 35px;
}

.left40 {
    margin-left: 40px;
}

.right5 {
    margin-right: 5px;
}

.right7 {
    margin-right: 7px;
}

.right10 {
    margin-right: 10px;
}

.right15 {
    margin-right: 15px;
}

.right17 {
    margin-right: 17px;
}

.right20 {
    margin-right: 20px;
}

.right25 {
    margin-right: 25px;
}

.right30 {
    margin-right: 30px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom7 {
    margin-bottom: 7px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom17 {
    margin-bottom: 17px;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom25 {
    margin-bottom: 25px;
}

.bottom30 {
    margin-bottom: 30px;
}

.top-5 {
    margin-top: -5px;
}

.top-7 {
    margin-top: -7px;
}

.top-10 {
    margin-top: -10px;
}

.top-15 {
    margin-top: -15px;
}

.top-17 {
    margin-top: -17px;
}

.top-20 {
    margin-top: -20px;
}

.top-25 {
    margin-top: -25px;
}

.top-30 {
    margin-top: -30px;
}

.top-35 {
    margin-top: -35px;
}

.top-40 {
    margin-top: -40px;
}

.left-5 {
    margin-left: -5px;
}

.left-7 {
    margin-left: -7px;
}

.left-10 {
    margin-left: -10px;
}

.left-15 {
    margin-left: -15px;
}

.left-17 {
    margin-left: -17px;
}

.left-20 {
    margin-left: -20px;
}

.left-25 {
    margin-left: -25px;
}

.left-30 {
    margin-left: -30px;
}

.left-40 {
    margin-left: -40px;
}

.left-80 {
    margin-left: -80px;
}

.right-5 {
    margin-right: 5px;
}

.right-7 {
    margin-right: 7px;
}

.right-10 {
    margin-right: 10px;
}

.right-15 {
    margin-right: 15px;
}

.right-17 {
    margin-right: 17px;
}

.right-20 {
    margin-right: 20px;
}

.right-25 {
    margin-right: 25px;
}

.right-30 {
    margin-right: 30px;
}

.bottom-5 {
    margin-bottom: -5px;
}

.bottom-7 {
    margin-bottom: -7px;
}

.bottom-10 {
    margin-bottom: -10px;
}

.bottom-15 {
    margin-bottom: -15px;
}

.bottom-17 {
    margin-bottom: -17px;
}

.bottom-20 {
    margin-bottom: -20px;
}

.bottom-25 {
    margin-bottom: -25px;
}

.bottom-30 {
    margin-bottom: -30px;
}

.pright0 {
    padding-right: 0px;
}

.pright3 {
    padding-right: 3px;
}

.pright5 {
    padding-right: 5px;
}

.pright10 {
    padding-right: 10px;
}

.pright15 {
    padding-right: 15px;
}

.pright20 {
    padding-right: 20px;
}

.pright25 {
    padding-right: 25px;
}

.pleft5 {
    padding-left: 5px;
}

.pleft10 {
    padding-left: 10px;
}

.pleft15 {
    padding-left: 15px;
}

.pleft20 {
    padding-left: 20px;
}

.pleft25 {
    padding-left: 25px;
}

.pleft30 {
    padding-left: 30px;
}

.ptop5 {
    padding-top: 5px;
}

.ptop10 {
    padding-top: 10px;
}

.ptop15 {
    padding-top: 15px;
}

.ptop20 {
    padding-top: 20px;
}

.ptop25 {
    padding-top: 25px;
}

.ptop30 {
    padding-top: 30px;
}

.pbottom5 {
    padding-bottom: 5px;
}

.pbottom7 {
    padding-bottom: 7px;
}

.pbottom10 {
    padding-bottom: 10px;
}

.pbottom15 {
    padding-bottom: 15px;
}

.pbottom20 {
    padding-bottom: 20px;
}

.pbottom25 {
    padding-bottom: 25px;
}

.pbottom30 {
    padding-bottom: 30px;
}

.ptop-5 {
    padding-top: -5px;
}

.ptop-10 {
    padding-top: -10px;
}

.ptop-15 {
    padding-top: -15px;
}

.ptop-20 {
    padding-top: -20px;
}

.ptop-25 {
    padding-top: -25px;
}

.ptop-30 {
    padding-top: -30px;
}

.pbottom-5 {
    padding-bottom: -5px;
}

.pbottom-10 {
    padding-bottom: -10px;
}

.pbottom-15 {
    padding-bottom: -15px;
}

.pbottom-20 {
    padding-bottom: -20px;
}

.pbottom-25 {
    padding-bottom: -25px;
}

.pbottom-30 {
    padding-bottom: -30px;
}

.pright-5 {
    padding-right: -5px;
}

.pright-10 {
    padding-right: -10px;
}

.pright-15 {
    padding-right: -15px;
}

.pright-20 {
    padding-right: -20px;
}

.pright-25 {
    padding-right: -25px;
}

.pleft-5 {
    padding-left: -5px;
}

.pleft-10 {
    padding-left: -10px;
}

.pleft-15 {
    padding-left: -15px;
}

.pleft-20 {
    padding-left: -20px;
}

.pleft-25 {
    padding-left: -25px;
}

.pleft-30 {
    padding-left: -30px;
}

.line-height-15 {
    line-height: 15px;
}

.text-10 {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.5;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    background: #efeeee;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: #49545E;
    width: 100%;
    height: 100%;
}

body img {
    border: none;
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

video {
    height: 100%;
    width: 100%;
}

.tp-video-nav {
    margin-top: 70px;
    padding: 20px 0px 0px 0px;
    text-align: center;
}

.top-nav-bar > .nav-background {
    background-color: #ffffff;
}

.nav-background img {
    width: 165px;
}

.nav-background h3 {
    font-size: 26px;
    font-weight: 700;
}

.top-nav-bar > .nav-background a {
    font-size: 18px;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #ffffff;
    border-bottom: 3px solid #dc3545;
    padding: 5px;
}

.top-nav-bar > .nav-link {
    display: block;
    padding-bottom: 2px;
}

.top-nav-bar > .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.top-nav-bar > .nav-background a {
    font-weight: 400;
}

.carousel-view {
    margin-bottom: 50px;
    /*border-bottom: 3px solid #28a745;*/
}

.search-box input {
    cursor: text;
    color: #4e6e8e;
    display: inline-block;
    border: 1px solid #cfd4db;
    border-radius: 2rem;
    font-size: .9rem;
    line-height: 2rem;
    padding: 0 13.5rem 0 2rem;
    outline: none;
    transition: all .2s ease;
    position: relative;
    vertical-align: top;
    background: #ffffff url(/search-icon.svg) .6rem .5rem no-repeat;
    background-size: 1rem;
}

.content {
    position: relative;
    float: left;
    margin: 15px 0px 0px 0px;
    overflow: hidden;
    width: 69.076%;
    max-width: 860px;
}

.content-wrapper {
    float: left;
    width: 69.076%;
    max-width: 860px;
}

.sidebar-left {
    position: relative;
    float: left;
    padding: 0px 1.1% 0 0%;
    text-align: right;
}

.sidebar {
    width: 21.619%;
    max-width: 385px;
}


/*!*#wrapper.toggled {*!*/
/*!*padding-left: 250px;*!*/
/*!*}*!*/

.sidebar-nav {
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    width: 250px;
    padding: 0;
    list-style: none;
}

.sidebar-right {
    position: relative;
    float: right;
    width: 30.923%;
    padding: 0px 0 0 1.417%;
    text-align: left;
}

.sidebar {
    width: 21.619%;
    max-width: 385px;
}

/*.sidebar-nav li {*/
/*text-indent: 20px;*/
/*line-height: 40px;*/
/*}*/

/*.sidebar-nav li a {*/
/*display: block;*/
/*text-decoration: none;*/
/*color: #999999;*/
/*}*/
/*.sidebar-nav>.sidebar-brand {*/
/*height: 65px;*/
/*font-size: 18px;*/
/*line-height: 60px;*/
/*}*/

/*.sidebar-nav>.sidebar-brand a {*/
/*color: #999999;*/
/*}*/

/*.sidebar-nav>.sidebar-brand a:hover {*/
/*color: #fff;*/
/*background: none;*/
/*}*/

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #02B544;
    color: white;
    text-align: center;
}

code, pre {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.individual-article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box-style {
    padding: .75rem 1.25rem;
    margin: 4px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.nopadding {
    margin: 0;
    padding: 0;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
}

.tutorial-title {
    color: #086472
}

.tutorial-title:hover {
    text-decoration: underline;
}

.our-social a img {
    width: 25px;
}

.our-social a {
    margin-left: 1rem;
}

.our-social a:hover {
    text-decoration: none;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #02B544;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
}

#back2Top:hover {
    background-color: #DDF;
    color: #00e044;
}

.category-heading {
    background-color: #13C191;
}

.alternative-software-logo {
    width: 64px;
    height: 64px;
}

.w-20 {
    width: 25%;
}

.w-15 {
    width: 15%;
}

.like-alert-error {
    background-color: red;
    color: white;
    height: 25px;
}

.like-alert-success {
    background-color: green;
    color: white;
    height: 25px;
}

.typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    100% {
        border-color: orange;
    }
}

.ai-box-style {
    padding: .55rem 1.25rem;
    margin: 4px;
    background-color: #fff;
}

.ai-logo {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ai-category-software-logo {
    width: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.inline-list li {
    display: inline;
    margin-left: 4%;
}

.ai-software-card-width {
    width: 18rem;
}

.ai-software-card-head {
    font-weight: 700;
}

.ai-software-card-head:hover {
    text-decoration: none;
}

.ai-software-header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
}

.view-card-background {
    background: #355664;
}

.ai-software-view-card-head {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

.ai-software-view-card-head:hover {
    text-decoration: none;
    color: #ffffff;
}

.ai-search-box input {
    border: 1px solid #cfd4db;
    border-radius: 1.5rem;
    line-height: 1.8rem;
    outline: none;
    width: 33rem;
    transition: all .2s ease;
    position: relative;
    padding: .5rem 0 .5rem 2.9rem;
    vertical-align: top;
    background: #ffffff url(/search-icon.svg) 1rem .7rem no-repeat;
    background-size: 1.4rem;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.display-none {
    display: none;
}

.review-cancel-btn {
    display: none;
    margin-right: 10px;
}

.reviewer-profile-image {
    height: 80px;
    width: 80px;
}

.review-title {
    color: #007bff;
    font-weight: 500;
}

.review-text-color {
    color: #dcdcdc;
}

.top-nav-bar > .nav-tab-menu {
    font-weight: 700;
}

.official-link-button {
    background: #63bda2;
    border: #63bda2;
}

.social-button {
    font-size: 40px;
    margin-right: 10px;
    margin-top: 5px;
}

.social-icon {
    width: 30px;
    margin-left: 8px;
}

.social-icon:hover {
    background-color: #dc3545;;
}

.isDisabled {
    color: currentColor;
    pointer-events: none;
    opacity: 0.5;
}

.highlight {
    background-image: linear-gradient(to bottom, #03C265 0, #03C265 100%);
    box-sizing: border-box;
    display: block;
    margin-top: 0;
    padding: 5px 0 30px 0;
}

.ai-software-head h3 {
    font-weight: 700;
    font-size: 50px;
    padding: 15px 15px 0 15px;
    color: #ffffff;
}

.ai-software-head h5 {
    font-size: 15px !important;
    padding: 0 15px 15px 15px;
    color: #000000;
}

.software-box {
    box-sizing: border-box;
    display: block;
    margin-top: 0;
    padding: 10px 0 10px 0;
}

.box {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .1);
    background: #fff;
    padding: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.box-title {
    margin: 0;
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-title h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    display: inline-block;
}

.box-item {
    border: 1px solid #e8e8e8;
    text-align: center;
    margin: 10px;
    padding: 0 0 15px 0;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: background .5s; /* For Safari 3.0 to 6.0 */
    transition: background .5s;
}

.box-item:hover {
    -webkit-box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    transition: .5s;
}

.box-item img {
    height: 100px;
    width: 100px;
    padding: 15px;
}

.box-div {
    padding: 0 20px 15px 20px;
}

.box-image-title {
    text-decoration: none;
    font-weight: 700;
}

.recently-added-software-item {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px;
}

.recently-added-software-item p {
    font-size: 15px;
}

.alternate-software-item {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px;
}

.alternate-software-card-head {
    font-weight: 600;
    color: #000000;
}

.alternate-software-card-head:hover {
    text-decoration: none;
}

.alternate-software-item p {
    font-size: 15px;
    color: #999999;
}

.alternate-software-item-icon {
    font-size: 18px;
}

.alternate-software-count {
    color: #070713;
}

.alternative-software-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alternate-seemore-btn {
    background-color: #dc3545;
    color: #ffffff;
}

.recently-added-software-item p a {
    color: #03C265;
    text-decoration: none;
    font-weight: bold;
}

.search-button {
    border-radius: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.view-more-btn {
    background-color: #dc3545;;
    color: #ffffff;
}

.software-view-panel {
    box-sizing: border-box;
    display: block;
    padding: 5px 0 30px 0;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    box-shadow: -2px 4px 8px 2px rgba(0, 0, 0, .1);
}

.software-view-logo {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #e8e8e8;
}

.software-view-logo-after-scroll {
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 25px;
}

.quiz-title h1 {
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.2;
}

.quiz-topics {
    text-align: center;
}

.quiz-topics ul {
    margin-left: -16px;
}

.quiz-topics li {
    display: inline-block;
    text-align: center;
    border: 1px solid #cdcdcd;
    margin: 10px;
}

.quiz-topics li:hover {
    background-color: #006064;
}

.quiz-topics li a {
    padding: 14px 18px;
    color: #636b6f;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.quiz-topics li a:hover {
    color: #ffffff;
    text-decoration: none;
}

.quiz-option span:hover {
    cursor: pointer;
    color: rgba(26, 35, 11, 0.65);
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.category-topic {
    background: #ffffff;
    color: white;
    border-radius: 2%;
}

.selected-topic {
    background-color: #007bff80;
}

.accordion-menu {
    background-color: #f0f0f0 !important;
}

.accordion-topic {
    background-color: #f7f7f7 !important;
}

.accordion-body {
    padding-top: 20px;
    padding-bottom: 60px;
}

.accordion-body h5 {
    margin-bottom: 10px;
}

.panel-body ul li {
    margin-bottom: .3rem;
    padding: .7rem;
    list-style-type: none;
}

.panel-body ul a {
    text-decoration: none;
}

.quiz-question {
    font-weight: bold;
}

.quiz-view-question {
    font-weight: 700;
    text-transform: uppercase;
}

.like-action-button {
    color: red;
}

.like-review {
    text-align: center;
    margin-top: 5px;
}

.software-view-title {
    color: #131313;
    font-size: 40px;
}

.write-review span {
    font-size: 20px;
    margin-right: 8px;
}

.write-review {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.write-review a {
    font-weight: 700;
    color: rgb(255, 98, 0);
}

.buttons-links a {
    display: inline-block;
    border: 1px solid rgb(255, 93, 16);
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.4rem 4rem 0.4rem 4rem;
    font-size: 17px;
    margin-right: 1rem;
    text-transform: uppercase;
}

.website {
    background-color: rgb(255, 98, 0);
    color: #ffffff !important;
}

.website:hover {
    background-color: rgb(255, 98, 0);
    color: #ffffff !important;
    border: 1px solid rgb(255, 93, 16);
}

.like {
    background-color: white;
    color: rgb(255, 93, 16) !important;
}

.like:hover {
    background-color: white;
    color: rgb(255, 93, 16) !important;
    border: 1px solid rgb(255, 93, 16);
}

html {
    scroll-behavior: smooth !important;
}

.love-button {
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
    border-radius: 3px;
    border: 1px solid;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    position: relative;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/*
 * Counter button style
 */
.love-button-counter {
    margin-right: 39px;
}

.love-button-counter:after,
.love-button-counter:hover:after {
    text-shadow: none;
}

.love-button-counter:after {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: #eee;
    padding: 0 8px;
    color: #777;
    content: attr(data-count);
    left: 100%;
    margin-left: 8px;
    margin-right: -13px;
    position: absolute;
    top: -1px;
}

.love-button-counter:before {
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
    background-color: #eee;
    border: 1px solid #d3d3d3;
    border-right: 0;
    border-top: 0;
    content: '';
    position: absolute;
    right: -13px;
    top: 5px;
    height: 6px;
    width: 6px;
    z-index: 1;
    zoom: 1;
}

/*
 * Custom styles
 */
.love-button {
    background-color: #dbdbdb;
    border-color: #bbb;
    color: #666;
}

.love-button:hover,
.love-button.active {
    text-shadow: 0 1px 0 #b12f27;
    background-color: #f64136;
    border-color: #b12f27;
    text-decoration: none;
}

.love-button:active {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2) inset;
}

.love-button span {
    color: #f64136;
}

.love-button:hover, .btn:hover span,
.love-button.active, .btn.active span {
    color: #eeeeee;
}

.love-button:active span {
    color: #b12f27;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/*FOOTER*/

footer {
    background: #02B544;
    color: white;
}

footer img{
    width: 120px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

footer ul li a {
    font-weight: 700;
}


.copy{
    font-size: 16px;
}

.social-icon-footer {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #ffffff;
}

.social-icon-footer ul{
    float: right;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoTwitter:hover {
    background-color: #007bb7;
}

.social-network a.icoYoutube:hover {
    background-color: #b72d04;
}

.social-network a.icoGoogleplus:hover {
    background-color: #b72d04;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoGoogleplus:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

.admin-nav-bg {
    background-color: #42cdc4;
}

.dashboard-title {
    font-weight: 700;
    color: white;
    background: rgb(184, 16, 149);
    background: linear-gradient(90deg, rgba(184, 16, 149, 1) 20%, rgba(18, 206, 221, 1) 59%, rgba(103, 227, 178, 1) 92%);
}

#navbar {
    background-color: #ffffff;
    display: flex;
    z-index: 1;
    transition: top .2s;
}

.navbar-after-scroll {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0 0 0.2rem 5.5rem;
    border-bottom: 1px solid #03C265;
    position: fixed;
}

#navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    margin-right: 5px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    /*border-bottom: 4px solid rgb(255, 98, 0);*/
    color: rgb(255, 98, 0);
    transition: .5s;
}

#navbar a.active {
    border-bottom: 4px solid rgb(255, 98, 0);
    font-weight: bold;
}

.carousel {
    position: relative;
    background: #e8e8e8;
}

.carousel-item img {
    object-fit: cover;
    border: 10px solid #cbdad3;
}

#carousel-thumbs {
    background: rgba(255, 255, 255, .3);
    bottom: 0;
    left: 0;
    right: 0;
}

#carousel-thumbs img {
    border: 4px solid #6e6e6e;
    cursor: pointer;
    margin-top: 15px;
}

#carousel-thumbs img:hover {
    border-color: rgba(29, 17, 20, 0.3);
}

#carousel-thumbs .selected img {
    border-color: #dc3545;
}

.blog-alert-box {
    background: #F08A24;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.blog-page-main-heading {
    padding: 30px;
    background: #ffffff;
}

.blog-tutorial-description p img {
    cursor: pointer;
}

.blog-tutorial-description p img:hover {
    opacity: .6;
}

#imageShowModal .modal-header {
    padding: .3rem;
}

.take-quiz {
    border-radius: 2rem;
    width: 10rem;
    font-size: 14px !important;
}

.top-notification {
    background-color: #02B544;
    color: #ffffff;
    margin-bottom: 0;
}

.left-side-home-menu, .left-side-home-menu * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0
}

.left-side-home-menu {
    min-width: 100%;
    float: left;
    position: relative;
}

.left-side-home-menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.left-side-home-menu ul li {
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

.left-side-home-menu ul li a {
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    background: #ffffff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    -o-transition: color .2s linear, background .2s linear;
    -moz-transition: color .2s linear, background .2s linear;
    -webkit-transition: color .2s linear, background .2s linear;
    transition: color .2s linear, background .2s linear
}

.left-side-home-menu > ul > li.active > a, .left-side-home-menu > ul > li:hover > a {
    color: #000;
    background: #B9EACB
}

.left-side-home-menu > ul > li > a {
    margin-bottom: .5rem;
}

.left-side-home-menu > ul > li > a > img {
    width: 1.2rem;
    margin-right: 1rem;
}

.blog-lg {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.blog-lg-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    border: 15px solid #fff;
}

.blog-lg-container img {
    vertical-align: middle;
    width: 100%;
    max-height: 300px;
}

.blog-lg-container .blog-lg-content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.blog-sm-container {
    background-color: #ffffff;
    padding: .9rem .1rem 1rem 0;
    margin-bottom: .7rem;
}

.blog-sm-container img {
    vertical-align: middle;
    width: 100%;
}

.feature-soft {
    background: #fff;
    padding: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.feature-soft-title {
    margin: 0;
    border-bottom: 1px solid #00e044;
    padding-top: .5rem;
    font-size: 18px;
    display: flex;
    color: #02B544;
    flex-direction: row;
    justify-content: space-between;
}

.feature-soft-title p {
    margin-bottom: .3rem;
}

.feature-soft-item {
    border: 1px solid #e8e8e8;
    text-align: center;
    margin: 10px;
    padding: 0 0 8px 0;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: background .5s; /* For Safari 3.0 to 6.0 */
    transition: background .5s;
}

.feature-soft-item:hover {
    -webkit-box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    transition: .2s;
}

.feature-soft-item img {
    height: 100px;
    width: 100px;
    padding: 15px;
}

.home-tutorial-card img {
    height: 130px;
}

.home-tutorial-card p {
    font-size: 14px;
    text-align: justify;
}

.home-tutorial-card{
    padding: 1rem;
    border: 0;
    -webkit-box-shadow: 0px 1px 5px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 5px -3px rgba(0,0,0,1);
    box-shadow: 0px 1px 5px -3px rgba(0,0,0,1);
}

.home-tutorial-card h5{
    color: #02B544;
}

.feature-soft .tutorial-item{
    padding: .4rem;
}

.tutorial-home-section{
    padding: 1rem;
}

.left-side-trending-tag {
    background-color: #ffffff;
}

.left-side-trending-tag ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-side-trending-tag ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.left-side-trending-tag ul li a:hover{
    color: #02B544;
    transition: .2s;
    font-size: 18px;
}

.left-side-trending-tag p {
    background: #B9EACB;
    padding: .6rem;
    width: 100%;
    font-weight: 700;
}

.see-more-trending {
    color: #000000;
}

.see-more-trending:hover {
    color: #02B544;
    text-decoration: none;
}

.left-side-info{
    background-color: #ffffff;
    min-height: 1096px;
}

.left-side-info ul{
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    bottom: 0;
}

.left-side-info ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.quiz-home-section{
    background-color: #02B544;
    padding: 1rem;
    border-radius: 4px;
}

.quiz-home-section h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.quiz-home-section p {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .1);
    padding: .5rem;
    font-family: 'Roboto', sans-serif;
}

.form-button {
    margin-top: 30px;
    margin-bottom: 25px;
}
.form-button .ibtn{
    border-radius: 8px;
    border: 0;
    padding: 10px 60px;
    background-color: #fff;
    color: #02B544;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.feature-box-div {
    padding: 0 20px 15px 20px;
}

.feature-soft-home {
    text-align: center;
    margin: 10px;
    padding: 0 0 8px 0;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: background .5s; /* For Safari 3.0 to 6.0 */
    transition: background .5s;
    height: 125px !important;
}

.feature-soft-home:hover {
    -webkit-box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 19px -1px rgba(0, 0, 0, 0.75);
    transition: .2s;
}

.feature-soft-home img {
    height: 100px;
    width: 100px;
}

.quiz-right-side-image img{
    max-height: 470px;
}

/*slider*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.home-navbar-icon .navbar-toggler {
    color: #02B544;
    border-color: rgba(255,255,255,.1);
    font-size: 30px;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
    }

    .swiper-button-prev {
        left: 50px;
    }
}
/*end slider*/

@media screen and (min-width: 601px) {
    div.ai-software-head h3 {
        font-size: 50px;
    }

    div.ai-software-head h5 {
        font-size: 16px !important;
    }

    .alternative-software-logo {
        width: 80px;
        height: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .reviewer-default-img {
        width: 80px;
    }
}

@media screen and (max-width: 600px) {
    div.ai-software-head h3 {
        font-size: 25px;
    }

    div.ai-software-head h5 {
        font-size: 13px !important;
    }

    .alternative-software-logo {
        width: 60px;
        height: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .reviewer-default-img {
        width: 70px;
        margin-left: auto;
        margin-right: auto;
    }

    .ai-search-box input {
        padding: .5rem 0 0.5rem 2.5rem;
        width: 18rem;
    }

    .carousel-thumb {
        margin-top: 50px
    }

    .buttons-links a {
        font-size: 14px;
        margin-bottom: .4rem;
        width: 100%;
    }

    .software-view-title {
        color: #131313;
        font-size: 25px;
        margin-top: 5px;
    }

    #navbar a {
        margin-right: 2px;
        padding: 10px 8px;
        text-decoration: none;
        font-size: 15px;
    }

    .software-view-logo {
        width: 100px;
        height: 100px;
    }

    .navbar-after-scroll {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding: 0 0 0.2rem .1rem;
        border-bottom: 1px solid #03C265;
    }

    .dashboard-title {
        font-weight: 500;
        color: white;
        font-size: 30px;
        background: rgb(184, 16, 149);
        background: linear-gradient(90deg, rgba(184, 16, 149, 0.8715861344537815) 19%, rgba(18, 206, 221, 1) 59%, rgba(103, 227, 178, 1) 92%);
    }

    .quiz-topics li a {
        padding: 10px 5px;
        color: #636b6f;
        line-height: 46px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .quiz-topics li {
        margin: 4px;
    }

    .quiz-title h1 {
        font-weight: 700;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .our-social a img {
        width: 25px;
    }

    .our-social a {
        margin-left: .2rem;
    }

    .our-social a:hover {
        text-decoration: none;
    }
    .social-icon-footer ul{
        float: none;
    }

    /*home menu responsive start*/

    .left-side-home-menu ul li {
        display: inline;
        float: none;
        justify-self: center;
    }

    .left-side-home-menu ul li a {
        width: 45%;
        padding: 14px 22px;
        text-decoration: none;
        color: #000000;
        border-radius: 10px;
        font-size: 13px;
        background: #ffffff;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        display: grid;
        text-align: -webkit-center;
        -o-transition: color .2s linear, background .2s linear;
        -moz-transition: color .2s linear, background .2s linear;
        -webkit-transition: color .2s linear, background .2s linear;
        transition: color .2s linear, background .2s linear
    }

    .left-side-home-menu > ul > li > a > img{
        text-align: center;
        justify-content: center;
        margin-right: 0;
    }
    .left-side-home-menu > ul > li > a {
        margin: .5rem 0 0 .8rem;
    }

    .left-side-info{
        display: none;
    }

    .left-side-trending-tag ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .left-side-trending-tag ul li{
        display: inline;
    }

    .left-side-trending-tag ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        background-color: #00e044;
        padding: .5rem;
        line-height: 3;
        border-radius: 2rem;
    }

    .blog-lg-section {
        background-color: #ffffff;
    }

    .blog-lg-container {
         position: relative;
         max-width: 800px;
         margin: 0 auto;
         border: 0;
     }

    .blog-lg-container h4{
         font-size: 18px;
     }

    .blog-lg-container p{
        font-size: 14px;
    }

    .blog-lg-container .blog-lg-content {
        padding: 1rem 1rem .2rem 1rem;
    }

    .feature-soft-home {
        border: 1px solid #e8e8e8;
        padding: 0 0 1px 0;
        border-radius: 6px;
        cursor: pointer;
        -webkit-transition: background .5s; /* For Safari 3.0 to 6.0 */
        transition: background .5s;
    }

    .feature-soft-home img {
        width: 100%;
        height: 100%;
        padding: .5rem;
    }

    .feature-box-div {
        padding: 0;
    }

    .feature-soft-section {
        padding: 0;
    }

    .home-tutorial-card h5 {
        font-size: 15px;
    }

    .home-tutorial-card img {
        width: 100%;
        height: 100%;
    }

    .quiz-home-container {
        margin-left: 0 !important;
    }

    .quiz-home-section h1 {
        font-size: 35px;
    }

    .quiz-home-section p {
        font-size: 15px;
    }

    .form-button {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .form-button .ibtn{
        padding: 8px 30px;
        font-size: 20px;
    }

    .text-sm-center{
        text-align: center;
    }

    .text-sm-center img{
        width: 80px;
        margin-bottom: 1rem;
    }

    .footer-middle {
        padding-top: 1em;
    }

    .left-side-trending-tag {
        margin-bottom: 10px;
    }

    .search-box input {
        padding: 0 8.5rem 0 2rem;
    }
    /*home menu responsive End*/

    .quiz-right-side-image img{
        max-height: 370px;
    }
}

@media screen and (max-width: 765px) {
    /*home menu responsive start*/

    .left-side-home-menu ul li {
        display: inline;
        float: none;
        justify-self: center;
    }

    .left-side-home-menu ul li a {
        width: 45%;
        padding: 14px 22px;
        text-decoration: none;
        color: #000000;
        border-radius: 10px;
        font-size: 13px;
        background: #ffffff;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        display: grid;
        text-align: -webkit-center;
        -o-transition: color .2s linear, background .2s linear;
        -moz-transition: color .2s linear, background .2s linear;
        -webkit-transition: color .2s linear, background .2s linear;
        transition: color .2s linear, background .2s linear
    }

    .left-side-home-menu > ul > li > a > img{
        text-align: center;
        justify-content: center;
        margin-right: 0;
    }
    .left-side-home-menu > ul > li > a {
        margin: .5rem 0 0 .8rem;
    }

    .left-side-info{
        display: none;
    }

    .left-side-trending-tag ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .left-side-trending-tag ul li{
        display: inline;
    }

    .left-side-trending-tag ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        background-color: #00e044;
        padding: .5rem;
        line-height: 3;
        border-radius: 2rem;
    }

    .blog-lg-section {
        background-color: #ffffff;
    }

    .blog-lg-container {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        border: 0;
    }

    .blog-lg-container h4{
        font-size: 18px;
    }

    .blog-lg-container p{
        font-size: 14px;
    }

    .blog-lg-container .blog-lg-content {
        padding: 1rem 1rem .2rem 1rem;
    }

    .feature-soft-home {
        border: 1px solid #e8e8e8;
        padding: 0 0 1px 0;
        border-radius: 6px;
        cursor: pointer;
        -webkit-transition: background .5s; /* For Safari 3.0 to 6.0 */
        transition: background .5s;
    }

    .feature-soft-home img {
        width: 100%;
        height: 100%;
        padding: .5rem;
    }

    .feature-box-div {
        padding: 0;
    }

    .feature-soft-section {
        padding: 0;
    }

    .home-tutorial-card h5 {
        font-size: 15px;
    }

    .home-tutorial-card img {
        width: 100%;
        height: 100%;
    }

    .quiz-home-container {
        margin-left: 0 !important;
    }

    .quiz-home-section h1 {
        font-size: 35px;
    }

    .quiz-home-section p {
        font-size: 15px;
    }

    .form-button {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .form-button .ibtn{
        padding: 8px 30px;
        font-size: 20px;
    }

    .text-sm-center{
        text-align: center;
    }

    .text-sm-center img{
        width: 80px;
        margin-bottom: 1rem;
    }

    .footer-middle {
        padding-top: 1em;
    }
    /*home menu responsive End*/
}